.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.nav_container_auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.display_image_none {
  display: none;
}

@media (max-width: 600px) {
  .nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }

  .nav_container_auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .display_image_none {
    display: block;
  }

  .placeholder_div {
    display: none;
  }
}
