.login_form_container {
  width: 500px;
  margin: 0 auto;
  padding: 0 0 15px 0;
}

.login_text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-top: 15px;
}

.forgot_password {
  font-size: 12px;
  color: #084c3f;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .login_form_container {
    width: 100%;
  }
}
