.shop_saleko_container {
  padding-top: 200px;
}

.shop_saleko_title {
  font-size: 20px;
  margin: 0 0 5px 0;
  font-weight: 700;
}

.shop_saleko_body_wrapper {
  box-shadow: 0px 2px 15.9px 0px #69696926;
  padding: 15px 30px;
  border-radius: 10px;
}

.shop_saleko_text {
  font-size: 14px;
  color: #4b4b4b;
  line-height: 20px;
}

.shop_saleko_underline {
  border-bottom: 1px solid #e5e7eb;
}

.shop_saleko_item_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop_saleko_section_reverse {
  flex-direction: row-reverse;
}

.shop_saleko_text_container {
  max-width: 400px;
}

.shop_saleko_step {
  background-color: #d1fae5;
  width: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #065f46;
}

.shop_saleko_item_image {
  width: 400px;
  height: 300px;
}

.shop_saleko_last_text {
  font-size: 14px;
  padding: 20px 0;
  line-height: 20px;
  color: #4b4b4b;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .shop_saleko_container {
    padding: 180px 20px 0;
  }

  .shop_saleko_body_wrapper {
    padding: 15px 20px;
  }

  .shop_saleko_item_section {
    flex-direction: column;
  }

  .shop_saleko_text_container {
    width: 100%;
  }

  .shop_saleko_item_image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
