.disputes_container {
  padding-top: 200px;
}

.disputes_title {
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: 700;
}

.disputes_body_wrapper {
  box-shadow: 0px 2px 15.9px 0px #69696926;
  padding: 20px;
  border-radius: 10px;
}

.disputes_text {
  font-size: 14px;
  color: #4b4b4b;
}

.disputes_title_header {
  font-size: 16px;
  color: #084c3f;
  font-weight: bold;
}

.disputes_underline {
  border: 2px solid #084c3f;
  width: 100px;
}

.disputes_step_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disputes_image {
  width: 400px;
  height: 300px;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .disputes_container {
    padding: 150px 20px 0;
  }

  .disputes_image{
    width: 100%;
  }
}
