.fp_verify_phone_email_container {
    width: 500px;
    margin: 0 auto;
    padding: 0 0 40px 0;
  }
  
  .fp_verify_confirm_phone_number {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  
  .fp_verify_code_sent_text {
    text-align: center;
    font-size: 14px;
    color: #8e8e8e;
    margin-top: -15px;
  }
  
  .fp_verify_code_container {
    margin-top: 40px;
    padding-bottom: 30px;
  }
  
  .fp_verify_code_text {
    color: #084c3f;
    font-size: 17px;
  }
  
  .fp_verify_invalid_otp {
    font-size: 12px;
    color: red;
  }
  
  .fp_verify_receive_verification_text {
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
  }
  
  .fp_verify_receive_verification_text_second {
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
    margin-top: -5px;
  }
  
  @media (max-width: 600px) {
    .fp_verify_phone_email_container {
      width: 382px;
    }
  }
  