.forgot_password_reset_container {
  width: 593px;
  margin: 0 auto;
  margin-top: 40px;
}

.forgot_password_reset_text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

label {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 15px;
  color: #8e8e8e;
  padding: 0 5px;
  transition: 0.3s;
}

form {
  margin-top: 40px;
}

/* ******************************** */

/* For Password Input Field */
.password_input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.password_textinput_container {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced3dd;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  transition: border-color 0.3s, border-width 0.3s;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.password_textinput {
  flex: 1;
  font-size: 15px;
  border-width: 0px;
  border: none;
  outline: none;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

/* To be able to render the condition 
    for if the input field is not empty so that label can stay up*/
.password_label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* :focus-within used to focus/target the textinput 
    that is within the container */
.password_textinput_container:focus-within + label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* Change border color when input is focused */
.password_textinput_container:focus-within {
  border-color: #084c3f;
  border-width: 2px;
}

/******************************/

.error_message {
  font-size: 10px;
  color: red;
}

.error_textInput {
  border-color: red !important;
}

.error_label {
  color: red !important;
}

.no_error_label {
  color: #8e8e8e;
}

@media (max-width: 600px) {
  .forgot_password_reset_container {
    width: 382px;
  }
}
