.forgot_password_reset_container {
  width: 593px;
  margin: 0 auto;
  margin-top: 40px;
}

.forgot_password_reset_text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

form {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .forgot_password_reset_container {
    width: 382px;
  }
}
