.group_header {
  position: fixed;
  width: 100%; /* Ensure it spans the entire width */
  z-index: 1000;
}

.frame_container_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.frame_image {
  width: 500px;
  height: 175px;
  background-color: #084c3f;
}

.flex_image_container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 10px;
}

.frame_image_9 {
  padding-top: 50px;
}
