.home_body_container {
  padding-top: 200px;
}

.frame_image {
  width: 500px;
  height: 175px;
  background-color: #084c3f;
}

.flex_image_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  gap: 10px;
}

.homeframe5_img {
  width: 50%;
}

.homeframe6_img {
  width: 49%;
}

.frame_image_9 {
  padding-top: 50px;
}

.homeframe7_img {
  width: 100%;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .home_body_container {
    padding: 180px 20px 0;
  }

  .homeframe5_img,
  .homeframe6_img {
    width: 100%;
  }

  .flex_image_container {
    width: 100%;
    flex-direction: column;
  }

  .frame_image_9 {
    width: 100%;
  }

  .alt_carousel_image {
    width: 100%;
  }
}
