.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's above other content */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 11px;
  width: 300px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal_image {
  width: 150px;
  height: 150px;
  display: flex;
  justify-self: center;
}

.header_text {
  color: #084c3f;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.body_text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.order_confirmed_image {
  width: 100%;
}

.order_confirmed_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.order_confirmed_container p {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #4f4f4f;
}

.order_confirmed_check_image {
  width: 50px;
  height: 50px;
}

.order_confirmed_id {
  margin: 0;
  font-size: 10px;
  color: #084c3f;
  padding: 5px 0 30px 0;
}

/******** confirm_negotiation_modal *******/

.confirm_negotiation_modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm_negotiation_modal_header p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.confirm_negotiation_accept_price_text {
  font-size: 14px;
}

.confirm_negotiation_item_body_container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.confirm_negotiation_item_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #e7e9eb;
  border-radius: 10px;
}

.confirm_negotiation_item_name {
  font-weight: bold;
  margin: 0;
  padding-bottom: 15px;
}

.confirm_negotiation_item_quantity {
  margin: 0;
  padding-bottom: 15px;
  font-size: 12px;
}

.confirm_negotiation_item_price_row {
  display: flex;
  gap: 10px;
}

.confirm_negotiation_item_price_row p {
  font-size: 12px;
}

.confirm_negotiation_button_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80vw;
  }
}