.forgot_password_request_container {
  width: 500px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.forgot_password_request_text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.forgot_password_request_instructions {
  text-align: center;
  font-size: 14px;
  color: #8e8e8e;
  margin-top: -15px;
}

form {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .forgot_password_request_container {
    width: 382px;
  }
}
