.create_form_container {
  width: 500px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
}

.create_account_text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
}

.otp_verify_text {
  text-align: center;
  font-size: 14px;
  color: #8e8e8e;
  margin: 0;
  padding-top: 5px;
}

.create_account_form {
  margin-top: 30px;
}

.have_an_account_container {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.have_an_account_container p {
  color: #8e8e8e;
}

.have_an_account_container span {
  color: #084c3f;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* ******************************** */

/* Form Divider */
.form_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/********************************/

.dropdown_container {
  position: absolute;
  background-color: #ffffff;
  width: 500px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 10px;
  z-index: 100;
}

.dropdown_container > p {
  padding-left: 10px;
  font-size: 14px;
  cursor: default;
}

/******************************/

@media (max-width: 600px) {
  .create_form_container {
    width: 100%;
  }

  .dropdown_container {
    width: 89%;
  }
}
