.create_form_container {
  width: 593px;
  margin: 0 auto;
  margin-top: 40px;
}

.create_account_text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.otp_verify_text {
  text-align: center;
  font-size: 16px;
  color: #8e8e8e;
  margin-top: -15px;
}

label {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 15px;
  color: #8e8e8e;
  padding: 0 5px;
  transition: 0.3s;
}

form {
  margin-top: 40px;
}

/* ******************************** */

/* Form Divider */
.form_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/********************************/

.dropdown_container {
  position: absolute;
  background-color: #ffffff;
  width: 593px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 10px;
  z-index: 100;
}

.dropdown_container > p {
  padding-left: 10px;
  font-size: 14px;
  cursor: default;
}

/******************************/

@media (max-width: 600px) {
  .create_form_container {
    width: 382px;
  }

  .dropdown_container {
    width: 382px;
  }
}
