.product_section_container {
  padding-top: 20px;
}

.extra_space {
  padding-top: 40px;
}

.name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_container > span {
  font-size: 18px;
  font-weight: 700;
  color: #084c3f;
}

.view_container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #084c3f;
  padding: 5px;
  border-radius: 20px;
  width: 72px;
  cursor: pointer;
}

.view_container > span {
  font-size: 12px;
  font-weight: 700;
  color: #084c3f;
}

.product_section_row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

/* .product_section_row {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); 
  gap: 15px;

  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
} */

.product_section_row_to_remove_space {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  gap: 9px;
}

.product_card_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}

.product_section_divider {
  border: 0.5px solid #e5e7eb;
  height: 100%;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .product_section_row,
  .product_section_row_to_remove_space {
    /* grid-template-columns: repeat(2, 1fr); */ /* Force 2 items per row on mobile */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product_card_container {
    position: relative;
  }

  /* Single vertical divider between the two columns */
  /* .product_card_container:nth-child(odd)::after {
    content: "";
    position: absolute;
    right: -10px; 
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e7eb; 
  } */

  .product_divider {
    display: none;
  }
}
