.timer_container{
  display: flex;
  align-items: center;
  gap:10px
}

.timer_container p{
    color: #9CA3AF;
    font-size: 11px;
}

.timer{
    border: 1px solid #E5E7EB;
    background-color: #F3F4F6;
    color: #4B5563;
    padding: 7px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
}

