.contact_us_container {
  padding-top: 200px;
}

.contact_us_title {
  font-size: 20px;
  color: #4b4b4b;
  margin: 0 0 20px 0;
}

.contact_us_content_wrapper {
  display: flex;
  gap: 15px;
}

.contact_us_left_container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/********************* right container ****************/

.contact_us_right_container {
  flex: 1;
}

/* For phones */
@media only screen and (max-width: 600px) {
  .contact_us_container {
    padding: 150px 20px 0;
  }

  .contact_us_content_wrapper {
    flex-direction: column;
  }

}
