/* ******************************** */

/* Normal Input Field */
.normal_input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.normal_textinput {
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced3dd;
  padding-left: 10px;
  outline: none;
  transition: border-color 0.3s, border-width 0.3s;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.normal_textinput::placeholder {
  font-size: 12px;
  font-weight: bold;
}

.normal_textinput_label {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 15px;
  color: #8e8e8e;
  padding: 0 5px;
  transition: 0.3s;
}

/* To be able to render the condition 
    for if the input field is not empty so that label can stay up*/
.normal_floating_label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* For label to move up when the input field
     is clicked or focused */
.normal_textinput:focus + label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* For border to change color and width
     when the input field is clicked 
     or focused */
.normal_textinput:focus {
  border-width: 2px;
  border-color: #084c3f;
}

/* ******************************** */

/* For Phone Number Input Field */
.custom_input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.custom_textinput_container {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced3dd;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  transition: border-color 0.3s, border-width 0.3s;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.custom_textinput {
  flex: 1;
  font-size: 15px;
  margin-left: 10px;
  border-width: 0px;
  border: none;
  outline: none;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.custom_textinput::placeholder {
  font-size: 12px;
  font-weight: bold;
}

.phoneNo_label_text {
  position: absolute;
  top: 17px;
  left: 75px;
  font-size: 15px;
  color: #8e8e8e;
  padding: 0 5px;
  transition: 0.3s;
}

/* To be able to render the condition 
    for if the input field is not empty so that label can stay up*/
.custom_label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
  left: 10px;
}

/* :focus-within used to focus/target the textinput 
    that is within the container */
.custom_textinput_container:focus-within + label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
  left: 10px;
}

/* Change border color when input is focused */
.custom_textinput_container:focus-within {
  border-color: #084c3f;
  border-width: 2px;
}

/* ******************************** */

/* For Password Input Field */
.password_input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.password_textinput_container {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced3dd;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  transition: border-color 0.3s, border-width 0.3s;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.password_textinput {
  flex: 1;
  font-size: 15px;
  border-width: 0px;
  border: none;
  outline: none;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

/* To be able to render the condition 
    for if the input field is not empty so that label can stay up*/
.password_floating_label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* :focus-within used to focus/target the textinput 
    that is within the container */
.password_textinput_container:focus-within + label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* Change border color when input is focused */
.password_textinput_container:focus-within {
  border-color: #084c3f;
  border-width: 2px;
}

/****************************************/

/* password checklist */
.password_checklist_container {
  margin-top: 10px;
}

/* Style for Password checklist */
.password_checklist {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Style for valid rules */
.password_checklist .valid {
  background-color: #084c3f;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* Prevent breaking onto multiple lines */
  font-size: 12px;
}

/* Style for invalid rules */
.password_checklist .invalid {
  background-color: #8e8e8e;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

/* Ensure the icon is at the end both valid and invalid */
.password_checklist .valid::after,
.password_checklist .invalid::after {
  content: "✔"; /* Example: Add a checkmark for valid, customize as needed */
  font-size: 10px;
  margin-left: 5px;
  color: inherit; /* Use the same color as the text */
}

.password_checklist .invalid::after {
  content: "✖"; /* Example: Add a cross for invalid */
  /* color: inherit; */
}

/******************************/

/* Error message */
.error_message {
  font-size: 10px;
  color: red;
}

.error_textInput {
  border-color: red !important;
}

.error_label {
  color: red !important;
}

.no_error_label {
  color: #8e8e8e;
}
