.forgot_password_request_container {
  width: 593px;
  margin: 0 auto;
  margin-top: 40px;
}

.forgot_password_request_text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.forgot_password_request_instructions {
  text-align: center;
  font-size: 16px;
  color: #8e8e8e;
  margin-top: -15px;
}

label {
  position: absolute;
  top: 17px;
  left: 10px;
  font-size: 15px;
  color: #8e8e8e;
  padding: 0 5px;
  transition: 0.3s;
}

form {
  margin-top: 40px;
}

/* ******************************** */

/* For Email or Phone Number Input Field */
.email_phone_input_box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.email_phone_textinput {
  height: 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced3dd;
  padding-left: 10px;
  outline: none;
  transition: border-color 0.3s, border-width 0.3s;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

/* To be able to render the condition 
  for if the input field is not empty so that label can stay up*/
.email_phone_label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* For label to move up when the input field
   is clicked or focused */
.email_phone_textinput:focus + label {
  top: -8px;
  color: #084c3f;
  font-size: 12px;
  background-color: #ffffff;
}

/* For border to change color and width
   when the input field is clicked 
   or focused */
.email_phone_textinput:focus {
  border-width: 2px;
  border-color: #084c3f;
}

/******************************/

.error_message {
  font-size: 10px;
  color: red;
}

.error_textInput {
  border-color: red !important;
}

.error_label {
  color: red !important;
}

.no_error_label {
  color: #8e8e8e;
}

@media (max-width: 600px) {
  .forgot_password_request_container {
    width: 382px;
  }
}
