.nav_header_search_container {
  background-color: #084c3f;
  height: 60px;

  /* for fixed position */
  position: fixed;
  top: 70px;
  width: 100%; /* Ensure it spans the entire width */
  z-index: 3; /* 2 */ /* higher than the other navs so that the searchbar component can overlap the whole screen */
}

.nav_header_search_second_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_header_search_left_container {
  display: flex;
  gap: 10px;
}

.search_and_dropdown_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select_dropdown_container {
  width: auto; /* 201px */
  height: 42px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
}

.nav_header_search_right_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right_icon {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.cart_number {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: white;
  color: #084c3f;
  font-size: 12px;
  padding: 2px;
  border: 3px solid #084c3f;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userdetails_container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  position: relative;
}

.userdetails_container span {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

/* .userdetails_container p {
  margin: 0;
  color: white;
  font-weight: bold;
} */

.userIcon_container {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.nav_button_container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.userdetails_dropdown_container {
  background-color: white;
  display: none;
  position: absolute;
  top: 32px;
  width: 130px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  padding: 5px 0 5px 0;
}

.userdetails_dropdown_container p {
  margin: 0;
  font-size: 14px;
  color: #084c3f;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
}

.userdetails_dropdown_container p:hover {
  /* background-color: #e3e1e1; */
  font-weight: 600;
}

.userdetails_container:hover .userdetails_dropdown_container {
  display: block;
}
